.entry {
  background-color: #f5f5f5;
}
.entry .container {
  position: relative;
}
.entry .container .banner {
  position: relative;
}
.entry .container .banner ul li {
  height: 500px;
}
.entry .container .banner ul li img {
  display: block;
}
.entry .container .banner ol {
  position: absolute;
  right: 450px;
  bottom: 30px;
}
.entry .container .banner ol li {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.43);
}
.entry .container .banner ol li.current {
  background-color: #fff;
}
.entry .container .banner::before,
.entry .container .banner::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.2;
}
.entry .container .banner::before {
  content: "\e744";
  font-family: 'iconfont' !important;
  left: 260px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.entry .container .banner::after {
  content: "\e743";
  font-family: 'iconfont' !important;
  right: 10px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.entry .container .aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
}
.entry .container .aside ul li {
  height: 50px;
  line-height: 50px;
  padding-left: 35px;
  padding-right: 18px;
  color: #fff;
}
.entry .container .aside ul li a {
  font-size: 14px;
  color: #fff;
}
.entry .container .aside ul li a span {
  font-size: 16px;
}
.entry .container .aside ul li i {
  float: right;
  font-size: 18px;
}
.entry .container .aside ul li:hover {
  background-color: #27ba9b;
}
.main .title {
  margin-top: 48px;
  height: 66px;
  justify-content: space-between;
}
.main .title h5 {
  font-size: 29px;
  font-weight: 400;
  margin-right: 34px;
}
.main .title span {
  margin-top: 12px;
  color: #999;
}
.main .title .right {
  margin-top: 12px;
  color: #999;
}
.main .title .right a {
  color: #999;
  margin-right: 12px;
}
.main .title .right i {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
}
.main .new_goods ul {
  justify-content: space-between;
}
.main .new_goods ul li {
  position: relative;
  width: 24.6%;
  background-color: #f0f9f4;
}
.main .new_goods ul li a .pic {
  width: 100%;
}
.main .new_goods ul li a .txt {
  text-align: center;
  padding-top: 22px;
}
.main .new_goods ul li a .txt h5 {
  font-size: 20px;
  font-weight: 400;
  height: 35px;
}
.main .new_goods ul li a .txt p {
  height: 40px;
  font-size: 17px;
  color: #9a2e1f;
}
.main .new_goods ul li a .txt p i {
  font-size: 23px;
}
.main .new_goods ul li a .new {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 29px;
  height: 51px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #27ba9b;
  color: #27ba9b;
}
.main .popular_goods ul li a .txt p {
  font-size: 16px;
  color: #999;
}
.main .brand {
  margin-top: 55px;
  padding: 45px 0;
  background-color: #f5f5f5;
}
.main .brand .title {
  margin-top: 0;
  position: relative;
}
.main .brand .title .right {
  position: absolute;
  bottom: 15px;
  right: 0;
}
.main .brand .title .right .right_1,
.main .brand .title .right .right_2 {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
.main .brand .title .right .right_1 {
  background-color: #e2e2e2;
  margin-right: 12px;
}
.main .brand .title .right .right_2 {
  background-color: #27ba9b;
}
.main .brand .brand_goods {
  justify-content: space-between;
}
.main .brand .brand_goods a {
  display: block;
  width: 19.6%;
}
.main .fresh .title .right .right_list {
  margin-right: 65px;
  margin-top: 2px;
}
.main .fresh .title .right .right_list a {
  height: 20px;
  line-height: 20px;
  padding: 0px 7px;
  color: #333;
}
.main .fresh .title .right .right_list a:hover {
  background-color: #27ba9b;
  color: #fff;
}
.main .fresh .fresh_goods {
  height: 610px;
}
.main .fresh .fresh_goods .aside {
  position: relative;
  width: 240px;
  padding-bottom: 610px;
  margin-right: 8px;
}
.main .fresh .fresh_goods .aside > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .fresh .fresh_goods .aside img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: auto;
}
.main .fresh .fresh_goods .fresh_content {
  flex: 1;
}
.main .fresh .fresh_goods .fresh_content ul {
  height: 610px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.main .fresh .fresh_goods .fresh_content ul li {
  position: relative;
  width: 24%;
  padding-top: 8px;
  border: 1px solid transparent;
}
.main .fresh .fresh_goods .fresh_content ul li .pic {
  width: 184px;
  height: 184px;
  margin: 0 auto;
}
.main .fresh .fresh_goods .fresh_content ul li .txt {
  padding-left: 29px;
}
.main .fresh .fresh_goods .fresh_content ul li .txt .price {
  font-size: 17px;
  height: 32px;
  color: #9a2e1f;
}
.main .fresh .fresh_goods .fresh_content ul li .txt .price span {
  font-size: 22px;
}
.main .fresh .fresh_goods .fresh_content ul li .similar {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 84px;
  text-align: center;
  background-color: #27ba9b;
  color: #fff;
  opacity: 0;
}
.main .fresh .fresh_goods .fresh_content ul li .similar div:first-child {
  margin-top: 14px;
  font-size: 18px;
}
.main .fresh .fresh_goods .fresh_content ul li .similar div:nth-child(2) {
  margin: 6px auto;
  width: 125px;
  height: 1px;
  background-color: #fff;
}
.main .fresh .fresh_goods .fresh_content ul li .similar div:last-child {
  font-size: 13px;
}
.main .fresh .fresh_goods .fresh_content ul li:hover {
  border: 1px solid #27ba9b;
}
.main .fresh .fresh_goods .fresh_content ul li:hover .similar {
  opacity: 1;
}
.main .topic {
  margin-top: 53px;
  padding: 44px 0;
  background-color: #f5f5f5;
}
.main .topic .title {
  margin-top: 0;
}
.main .topic .topic_content {
  justify-content: space-between;
}
.main .topic .topic_content a {
  width: 32.7%;
  background-color: #fff;
}
.main .topic .topic_content a .txt {
  height: 67px;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}
.main .topic .topic_content a .txt .like::before {
  content: "\e721";
  font-family: "iconfont" !important;
  font-size: 18px;
  color: #9a2e1f;
}
.main .topic .topic_content a .txt .collect::before {
  content: "\e6eb";
  font-family: "iconfont" !important;
  margin-left: 20px;
  font-size: 18px;
}
.main .topic .topic_content a .txt .comment::before {
  content: "\e6eb";
  font-family: "iconfont" !important;
  font-size: 18px;
  margin-left: 20px;
}
